@use "../../../color-variables.scss" as color;

.benefit-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.3);
    gap: 12px;
    
    img {
        border-radius: 16px;
        width: 100%;
        height: auto;
    }
    h5 {
       font-size: 24px;
       font-weight: 600;
       margin: 0;
       color: color.$primary-text;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: color.$secondary-text;
    }
}

@media (min-width: 768px) {
    .benefit-card {
        max-width: 600px;

        h5 {
            font-size: 32px;
        }

        p {
            font-size: 16px;
        }
    }
}