@use "../../../color-variables.scss" as color;

.benefit-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;

    h5 {
       font-size: 24px;
       font-weight: 600;
       margin: 0;
       color: color.$primary-text;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: color.$secondary-text;
    }
}

@media (min-width: 768px) {
    .benefit-card {
        max-width: 600px;

        h5 {
            font-size: 32px;
        }

        p {
            font-size: 16px;
        }
    }
}