@use "../../../color-variables.scss" as color;

main {
    display: flex;
    flex-direction: column;
    gap: 84px;
}
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;

    span {
        font-size: 20px;
        font-weight: 700;
        color: color.$secondary-text;
    }

    h1 {
        font-size: 72px;
        font-weight: 900;
        color: color.$primary-text;
    }
}

.benefit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 70px;
    
    .benefit-data {
        border-bottom: 10px solid color.$secondary-color;
        padding-bottom: 20px;

        h2 {
            font-size: 48px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: color.$primary-text;
        }
    }

    p {
        font-size: 24px;
        font-style: italic;
        font-weight: 300;

        b {
            background: linear-gradient(180deg, color.$light-primary-color, color.$secondary-color);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            font-style: normal;
        }
    }

}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 40px;

    .benefit-data {
        border-bottom: 10px solid color.$secondary-color;
        padding-bottom: 20px;

        h2 {
            font-size: 48px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: color.$primary-text;
        }
    }

    p {
        font-size: 24px;
        font-style: italic;
        font-weight: 300;

        b {
            background: -webkit-linear-gradient(180deg, color.$light-primary-color, color.$secondary-color);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
        }
    }
}
.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: color.$primary-text;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .main-section {
        flex-direction: row;
        span {
            font-size: 20px;
        }
        h1 {
            font-size: 72px;
        }
    }

    .benefit-section {
        flex-direction: row;
        .benefit-data h2 {
            font-size: 60px;
        }
        p {
            font-size: 40px;
        }
    }

    .cta-section h2 {
        font-size: 60px;
    }
}