<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>Tech Consult</span>
            <h1>A Consultoria que você busca para <b>seu software</b></h1>
        </div>
        <img ngSrc="./assets/principal.png" width="669" height="536"/>
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br />
                empresas
            </h2>
        </div>
        <p>Não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <app-btn-primary btn-text="Fale com os nossos especialistas"></app-btn-primary>
    </section>
    <app-forms></app-forms>
    <section class="benefit-section pad-70" style="flex-wrap: wrap;">
        <app-card-benefits *ngFor="let benefit of benefits"
            [card-title]="benefit.title"
            [img-path]="benefit.image"
            [card-description]="benefit.description"
        >
        </app-card-benefits>
    </section>
    <section class="cta-section pad-70">
        <h2>Quer elevar seu software e seus<br/>
        negócios para outro nível?</h2>
        <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
    </section>
    <app-footer></app-footer>
</main>